        {% extends "booking/base.html" %}

		{% block content %}
		{% load static %}

			<!-- start banner Area -->
			<section class="banner-area relative blog-home-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content blog-header-content col-lg-12">
							<h1 class="text-white">
								Your Journey Starts Here		
							</h1>	
							<p class="text-white">
								Fly Better with Flyhigh Airlines for more comfort, delicious cuisine and award-winning entertainment<br>
								 </br>Our focus on service excellence, innovation and safety – coupled with extensive training programmes that include e-learning, classroom and project-based training – means you can expect superior service both in the air and on the ground.</p>
							<a" class="primary-btn">Lets Go!</a>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->				  

			<!-- Start top-category-widget Area -->
			<section class="top-category-widget-area pt-90 pb-90 ">
				<div class="container">
					<div class="row">		
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
								  		 <img class="content-image img-fluid d-block mx-auto" src="{% static 'img\chauffeur drive.png' %}" alt="">
								  	  </div>
								      <div class="content-details">
								        <h4 class="content-title mx-auto text-uppercase">Chauffeur Drive</h4>
								        <span></span>								        
								        <p>Fly First Class or Business Class <br>and we’ll drive you</p></br>
								      </div>
								    </a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
								  		 <img class="content-image img-fluid d-block mx-auto" src="{% static 'img\lounge.png' %}" alt="">
								  	  </div>
								      <div class="content-details">
								        <h4 class="content-title mx-auto text-uppercase">Lounges</h4>
								        <span></span>								        
								        <p>Our lounges are your <br>personal heaven</p></br>
								      </div>
								    </a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
								  		 <img class="content-image img-fluid d-block mx-auto" src="{% static 'img\fine dine.png' %}" alt="">
								  	  </div>
								      <div class="content-details">
								        <h4 class="content-title mx-auto text-uppercase">Food</h4>
								        <span></span>
								        <p>Savour fine dining </p>
								      </div>
								    </a>
								</div>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End top-category-widget Area -->
			
			<!-- Start post-content Area -->
			<section class="post-content-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 posts-list">
							<div class="single-post row">
								<div class="col-lg-3  col-md-3 meta-details">
									<ul class="tags">
										<li><a href="#">Setting</a></li>
										<li><a href="#">The</a></li>
										<li><a href="#">Standard</a></li>
									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Ankit Verma</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">12 Dec, 2017</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">99k Likes</a> <span class="lnr lnr-eye"></span></p>						
									</div>
								</div>
								<div class="col-lg-9 col-md-9 ">
									<div class="feature-img">
										<img class="img-fluid" src="{% static 'img\inflight exp.png' %}" alt="">
									</div>
									<a><h3>Providing the ‘World’s best in-flight experience’</h3></a>
									<p class="excert">
										At Flyhigh, we’re committed to providing you with an unparalleled journey through our highly trained, professional cabin crew. New recruits undergo an intense seven and a half weeks of training in the highest standards of safety and service delivery in our state-of-the-art facility in Dubai.<br>

									     </br>The training covers both theoretical and practical aspects, with the latter taking place in full motion simulators of all of the aircrafts in our fleet.<br>

										     </br>And our ongoing training for all cabin crew members ensures you always receive unrivalled care on board.
									</p>
									
								</div>
							</div>
							<div class="single-post row">
								<div class="col-lg-3  col-md-3 meta-details">
									<ul class="tags">
										<li><a href="#">Adding diversity</a></li>
										<li><a href="#">in the </a></li>
										<li><a href="#">Air</a></li>
										
									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Owais Sajjad</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">12 Dec, 2017</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">87k Likes</a> <span class="lnr lnr-eye"></span></p>				
									</div>
								</div>
								<div class="col-lg-9 col-md-9 ">
									<div class="feature-img">
										<img class="img-fluid" src="{% static 'img\diversity.png' %}" alt="">
									</div>
									<a><h3>Sharing a love of adventure</h3></a>
									<p class="excert">
										A cosmopolitan mix of young professionals from over 130 nationalities, our cabin crew speak over 60 languages and bring their diverse backgrounds to the skies – many were doctors, lawyers, artists or sports people in their previous lives.<br>

                                         </br>The team welcoming you on board share your love of travel and are always ready to enrich your inflight experience. As the face of our brand, they tirelessly exceed your expectations on 420 flights daily across more than 135 destinations.
									</p>
									
								</div>
							</div>
							<div class="single-post row">
								<div class="col-lg-3  col-md-3 meta-details">
									<ul class="tags">
										<li><a href="#">Our</a></li>
										<li><a href="#">team</a></li>
										<li><a href="#">on the</a></li>
										<li><a href="#">ground</a></li>
									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Vishwa Shah</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">12 Dec, 2017</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">1.2M Likes</a> <span class="lnr lnr-eye"></span></p>						
									</div>
								</div>
								<div class="col-lg-9 col-md-9">
									<div class="feature-img">
										<img class="img-fluid" src="{% static 'img\friendly greeting.png' %}" alt="">
									</div>
									<a><h3>A friendly greeting – wherever you are</h3></a>
									<p class="excert">
										The Flyhigh team is spread over six continents, with over 2,000 staff in over 120 call centres and retail outlets outside of Bangalore. Our contact centre staff support 17 languages and we help people getting in touch with us on over 50 country-specific telephone numbers and Live Chat. Globally, our contact centres help over 4,000 people every hour during the busiest times of the day.<br>

                                         </br>At the airport, you can expect a smooth check-in experience guided by our friendly airport staff. Flyhigh Skywards members or those travelling in First Class or Business Class can enjoy attentive service in our airport lounges. From a friendly greeting when you contact our call centres to a flawlessly served beverage before your meal, we work hard to make sure your Flyhigh journey inspires you.
									</p>
									
								</div>
							</div>
							<div class="single-post row">
								<div class="col-lg-3  col-md-3 meta-details">
									<ul class="tags">
										<li><a href="#">Our pilots reach new heights</a></li>
									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Siddharth Kakkade</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">12 Dec, 2017</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">13M Likes</a> <span class="lnr lnr-eye"></span></p>						
									</div>
								</div>
								<div class="col-lg-9 col-md-9">
									<div class="feature-img">
										<img class="img-fluid" src="{% static 'img\pilots.png' %}" alt="">
									</div>
									<a><h3>Flying nearly 300 aircraft to over 135 destinations</h3></a>
									<p class="excert">
										We only hire experienced pilots, and we employ over 400 experts who conduct initial training to ensure they meet the exact standards demanded by both Emirates and aviation regulators.<br>

                                         </br>Ground school includes computer-based training, e-learning and aircraft technical classroom sessions. Flyhigh pilots also complete full flight simulator training for the specific aircraft they’re going to fly, so they’re fully prepared. The last stage is line flying under the supervision of an experienced trainer. The course takes around three months to complete, and we conduct recurring training for more than 4,000 pilots — it’s a regulatory requirement for each pilot every six months.
									</p>
									
								</div>
							</div>
							<!-- <div class="single-post row">
								<div class="col-lg-3 col-md-3 meta-details">
									<ul class="tags">
										<li><a href="#">Food,</a></li>
										<li><a href="#">Technology,</a></li>
										<li><a href="#">Politics,</a></li>
										<li><a href="#">Lifestyle</a></li>
									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Ankit Verma</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">12 Dec, 2017</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">1.2M Views</a> <span class="lnr lnr-eye"></span></p>
										<p class="comments col-lg-12 col-md-12 col-6"><a href="#">06 Comments</a> <span class="lnr lnr-bubble"></span></p>						
									</div>
								</div>
								
							</div> -->
																		
		                    <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
		                            <li class="page-item"><a href="#" class="page-link">01</a></li>
		                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
		                            <li class="page-item"><a href="#" class="page-link">03</a></li>
		                            <li class="page-item"><a href="#" class="page-link">04</a></li>
		                            <li class="page-item"><a href="#" class="page-link">09</a></li>
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
		                        </ul>
		                    </nav>
						</div>
						<div class="col-lg-4 sidebar-widgets">
							<div class="widget-wrap">
								<div class="single-sidebar-widget popular-post-widget">
									<h4 class="popular-title">Special Assistance</h4>
									<div class="popular-post-list">
										<div class="single-post-list d-flex flex-row align-items-center">
											<div class="thumb">
												<img class="img-fluid" src="{% static 'img/minor.png' %}" alt="">
											</div>
											<div class="details">
												<a><h6>Unaccompanied Minors</h6></a>
												<p>We’ll keep your little ones in safe hands when they fly alone.</p>
											</div>
										</div>
										<div class="single-post-list d-flex flex-row align-items-center">
											<div class="thumb">
												<img class="img-fluid" src="{% static 'img\preganant.jpeg' %}" alt="">
											</div>
											<div class="details">
												<a><h6>Expectant Mothers</h6></a>
												<p>Questions about flying during pregnancy? We’re here to help</p>
											</div>
										</div>
										<div class="single-post-list d-flex flex-row align-items-center">
											<div class="thumb">
												<img class="img-fluid" src="{% static 'img\wheelchahir.png' %}" alt="">
											</div>
											<div class="details">
												<a><h6>Medical Assistance</h6></a>
												<p>Arrange a wheelchair or request medical assistance for your trip.</p>
											</div>
										</div>
										<div class="single-post-list d-flex flex-row align-items-center">
											<div class="thumb">
												<img class="img-fluid" src="{% static 'img\trained dog.png' %}" alt="">
											</div>
											<div class="details">
												<a><h6>Trained service dogs</h6></a>
												<p>You can travel with a trained service dog if you have a qualifying disability. </p>
											</div>
										</div>	
										<div class="single-post-list d-flex flex-row align-items-center">
											<div class="thumb">
												<img class="img-fluid" src="{% static 'img/meal.png' %}" alt="">
											</div>
											<div class="details">
												<a"><h6>Request a meal</h6></a>
												<p>Flying with a dietary requirement? Arrange a Special Meal on board. </p>
											</div>
										</div>															
									</div>
								</div>
								
					
			</section>
			<!-- End post-content Area -->
			
			{% endblock %}