
		{% extends "booking/base.html" %}

		{% block content %}
		{% load static %}
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">Touristy Things to-do</h1>	
							<p class="text-white link-nav"><a href="file:///Users/vishwa/Desktop/Atria/DT/travelista-master/index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="file:///Users/vishwa/Desktop/Atria/DT/travelista-master/hotels.html">Destination</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start destinations Area -->
			<section class="destinations-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-40 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Popular Destinations</h1>
		                        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="{% static './Travel_files/Ferrari World Abu Dhabi.jpeg' %}" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Ferrari World, Abu Dhabi</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Swimming pool</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Gymnesium</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Wi-fi</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Room Service</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Air Condition</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Restaurant</span>
											<span>Yes</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Entry Fees</span>
											<a href="https://www.ferrariworldabudhabi.com/" class="price-btn">₹ 18500</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="./Travel_files/1530088538_1494177013_img_3682_01.jpeg" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Imagica, Mumbai</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Swimming pool</span>
											<span>Yes</span>
										</li>
										
										<li class="d-flex justify-content-between align-items-center">
											<span>Wi-fi</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Room Service</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Air Condition</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Restaurant</span>
											<span>Yes</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Entry Fees</span>
											<a href="https://www.imagicaaworld.com/?utm_source=google&utm_medium=cpc&utm_campaign=summer-2022-generic-search&gclid=Cj0KCQjwhLKUBhDiARIsAMaTLnE3gDeTvv9SZ-YeLcOHA8-3pJxu_mlNHnJuGMMQNDx00ZQggUXO7MkaAsGtEALw_wcB" class="price-btn">₹ 999</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="C:\Users\Owais\Downloads\fc-barcelona-spain-stadium-camp-nou-soccer-hd-wallpaper-preview.jpg" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Football Stadium - Camp Nou, Spain</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										
										
										
										
										<li class="d-flex justify-content-between align-items-center">
											<span>Air Condition</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Restaurant</span>
											<span>Yes</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Entry fees</span>
											<a href="https://www.fcbarcelona.com/en/club/facilities/camp-nou" class="price-btn">₹ 5000</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						
						
																																				
					</div>
				</div>	
			</section>
			<!-- End destinations Area -->
			

			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6 col-md-12 home-about-left">
							<h1>
								Did not find your Package? <br>
								Feel free to ask us. <br>
								We‘ll make it for you
							</h1>
							<p>
								We will customize your travel package for you and provide you options for multiple packages, so select which package suits you the best and avoid hassle of planning. 
							</p>
							<a href="file:///Users/vishwa/Desktop/Atria/DT/travelista-master/contact.html" class="primary-btn text-uppercase">Contact Us</a>
						</div>
						<div class="col-lg-6 col-md-12 home-about-right no-padding">
							<img class="img-fluid" src="/Users/vishwa/Desktop/Atria/DT/travelista-master/img/goa.jpeg" alt=""> 
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

			{% endblock %}