    {% extends "booking/base.html" %}

	{% block content %}
	{% load static %}
	<!-- <!DOCTYPE html> -->
	<!-- <html lang="zxx" class="no-js"> -->
	
			  
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								The FlyHigh Experience
								
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="insurance.html"> Insurance</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start insurence-one Area -->
			<section class="insurence-one-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 insurence-left">
							<img class="img-fluid img-one" src="{% static 'img/fst csss.png' %}" alt="">
						</div>
						<div class="col-lg-6 insurence-right">
							<h6 class="text-uppercase">Relax in absolute comfort and discover what it means to fly high with Fly High</h6>
							<h1>First Class</h1>
							<p>
								Make the journey your own in First Class. Slide the doors closed on your Private Suite, adjust the mood lighting, and enjoy dining and entertainment on your terms.

Explore First Class
							</p>
							<div class="list-wrap">
								<ul>
									<li>Strategic approach towards redesigning brand.</li>
									<li>logo design strategy ensures a perfectly crafted
									logo for your business.</li>
									<li>Branding that stands out in the crowd.</li>
									<li>Modern and evergreen logo for your business.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End insurence-one Area -->

			
			<!-- Start insurence-two Area -->
			<section class="insurence-two-area pb-120">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 insurence-left">
							<h6 class="text-uppercase"></h6>
							<h1>Business Class</h1>
							<p>
								Fly Business Class and arrive inspired. Stretch out in lie-flat comfort, dine on international cuisine, and take a stroll to the A380 Onboard Lounge.


								Explore Business Class
							</p>
							<div class="list-wrap">
								<ul>
									<li>Strategic approach towards redesigning brand.</li>
									<li>logo design strategy ensures a perfectly crafted
									logo for your business.</li>
									<li>Branding that stands out in the crowd.</li>
									<li>Modern and evergreen logo for your business.</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 insurence-right">
							<img class="img-fluid img-two" src="{% static 'img/IMAGESINDEX/business class.png' %}"alt="">
						</div>						
					</div>
				</div>	
			</section>
			<!-- End insurence-two Area -->	

			
			<section class="insurence-one-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 insurence-left">
							<img class="img-fluid img-one" src="{% static 'img\IMAGESINDEX\prem economy.png' %}" alt="">
						</div>
						<div class="col-lg-6 insurence-right">
							<h6 class="text-uppercase"></h6>
							<h1>Premium Economy</h1>
							<p>
								Give yourself a higher level of comfort and relaxation in our new Premium Economy cabin. Recline your cream leather seat, extend the leg rests, and relax into a more luxurious journey.

Explore Premium Economy.
							</p>
							<div class="list-wrap">
								<ul>
									<li>Strategic approach towards redesigning brand.</li>
									<li>logo design strategy ensures a perfectly crafted
									logo for your business.</li>
									<li>Branding that stands out in the crowd.</li>
									<li>Modern and evergreen logo for your business.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>	
			</section>


<section class="insurence-two-area pb-120">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 insurence-left">
				<h6 class="text-uppercase"></h6>
				<h1>Economy Class</h1>
				<p>
					Experience an Economy Class that feels like an upgrade. Sit back in comfort, enjoy delicious multicourse meals, and lose yourself in thous ands of movies, TV shows and more

Explore Economy.
				</p>
				<div class="list-wrap">
					<ul>
						<li>Strategic approach towards redesigning brand.</li>
						<li>logo design strategy ensures a perfectly crafted
						logo for your business.</li>
						<li>Branding that stands out in the crowd.</li>
						<li>Modern and evergreen logo for your business.</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 insurence-right">
				<img class="img-fluid img-two" src="{% static 'img\IMAGESINDEX\economy.png' %}" alt="">
			</div>						
		</div>
	</div>	
</section>



<section class="insurence-one-area section-gap">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 insurence-left">
				<img class="img-fluid img-one" src="{% static 'img\IMAGESINDEX\rewarsd.png' %}" alt="">
			</div>
			<div class="col-lg-6 insurence-right">
				<h6 class="text-uppercase">Relax in absolute comfort and discover what it means to fly high with Fly High</h6>
				<h1>Rewards on the Fly</h1>
				<p>
					Check out our apps for travel and rewards at your fingertips.

					Show me
				</p>
				<div class="list-wrap">
					<ul>
						<li>Strategic approach towards redesigning brand.</li>
						<li>logo design strategy ensures a perfectly crafted
						logo for your business.</li>
						<li>Branding that stands out in the crowd.</li>
						<li>Modern and evergreen logo for your business.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
</section>



    {% endblock %}
			